@() @main("In Time") {
<div class="companyMenu">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				@helper.form(action=routes.HomeController.upload, 'enctype -> "multipart/form-data"){
					<input class="navbar-brand" type="image" src="@routes.Assets.versioned("images/favicon.png")" name="picture">
				}
			</div>
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Unternehmen</a>
				</li>
				<li>
					<a href="#">Mitarbeiter</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#"><span class="glyphicon glyphicon-user"></span> Meine Daten</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-log-in"></span> abmelden</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h3>Right Aligned Navbar</h3>
		<p>The .navbar-right class is used to right-align navigation bar
			buttons.</p>
	</div>
	<footer id="footer">
		<ul>
			<li>
				<ul>
					<li><a href="/kontakt">Kontakt</a></li>
					<li><a href="/impressum">Impressum</a></li>
				</ul>
			</li>
			<li>
				<ul>
					<li>&#169 Gintare Lideikyte & Michel Wetterau</li>
					<li>  2018</li>
				</ul>
			</li>
		</ul>
	</footer>
</div>
}
